/*reset*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #161616;
}

/*header*/

#header{
    color: #fff;
    width: 800px;
    height: 40px;
    float: left;
    position: relative;
    background: #ccc;
    font-size: 1em;
}

/*aside*/

aside{

}

/*menu*/

nav{

}


/*content*/

section{

}

/*footer*/

footer{

}